<%= form_for(@clipping) do |f| %>
  <% if @clipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clipping.errors.count, "error") %> prohibited this clipping from being saved:</h2>

      <ul>
      <% @clipping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :notebook %><br />
    <%= f.text_field :notebook %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  tinyMCE.init({
    mode: 'textareas',
    theme: 'advanced',
    theme_advanced_buttons1 : "bold, italic, underline,|,forecolor,backcolor,|,outdent,indent",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : ""
    });
</script>
